name: HttpServerTests

on:
  push:
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  Tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup .NET Core SDK 8
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            8.0.x
      - name: Setup .NET Core SDK 9
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            9.0.x
      - name: Install dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --configuration Release --no-restore
      - name: Test
        run: dotnet test --no-restore --verbosity normal